body {
    padding-top: 50px;
}
.main {
    padding: 40px 15px;
    text-align: center;
}

.form-input {
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

.sideImage {
    margin-bottom: 30px;
}

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

table a {
    display:block;
    text-decoration: none;
    color: black;
    text-align: center;
}