body {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    background-color: #ABD6D6;
}

table a {
    display:block;
    text-decoration: none;
    color: black;
    text-align: center;
}

p {
    font-family: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

hr {
    border-top: 1px solid #579090;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

.main {
    padding: 40px 0;
    text-align: center;
}

.sideImage {
    margin-bottom: 30px;
}

.page-header-custom {
    font-size: 4em;
    margin-bottom: 40px;
}

.section-header {
    font-size: 3.5em;
    margin-bottom: 40px;
}

.navbar-inverse {
    background-color: #0A4040;
    border: 0;
}

.navbar-inverse .navbar-brand {
    color: #c2c2c2;
}

.navbar-inverse .navbar-nav>li>a {
    color: #c2c2c2;
}

.section {
    padding: 40px;
}

.section-alt {
    padding: 40px;
    background-color: #579090;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.fancybox{}

#header-text {
    font-size: 1.15em;
}

#time {
    margin-top: 30px;
}

#time p span {
    font-weight: bold;
}