.icon {
    height: 30px;
}

.tag {
    background-color: #B8E8E8;
}

.github {
    background-color: black;
    color: white;
}
.githubCustom{
    background-color: black;
    color: white;
}
.java {}
.spring {}
.openscad {}
.slic3r {}
.octoprint {}
.tomcat {}
.html5{}
.javascript{}
.ajax{}
.xml{}
.webiopi{}
.python{}
.mysql{}
.arduino{}